body {
  padding: 15px;
}

h2 {
  margin: 5px 0;
}

hr {
  margin: 20px 0;
  border-bottom: 0;
}

.label-slider {
  font-weight: bold;
  padding-top: 30px;
  padding-left: 20px;
}

.text-center {
  text-align: center;
}

.infos-simu > p {
  margin-bottom: 15px;
  font-size: 20px;
}

.infos-simu > div > div {
  margin: 7px 0;
}
